<div class="container">
  <div class="d-flex">
    <div class="search-bar w-100">
      <%= form_tag gardens_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search by address"
      %> 
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="main-grid">
  <div class="left-grid">
    <% @gardens.each do |garden| %>
      <div class="card-garden">
        <%= cl_image_tag garden.photo.key, width: 400, height: 300, crop: :fill %>
        <div class="card-garden-infos">
          <div>
            <h2><%= link_to garden.title, garden_path(garden) %></h2>
            <p><%= garden.address %></p>
            <p><%= link_to "See bookings", garden_bookings_path(garden) %></p>
          </div>
          <h2 class="card-garden-pricing"><%= garden.price %>£</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map"
     style="width: 70%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

