
<div class="container">
<div class="row">
<div class="col-6">

<%= simple_form_for @garden do |f| %>
  <%= f.input :title %>
  <%= f.input :address, class: "garden_address" %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add a Garden", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>